body {
	margin: 0 auto;
	padding:0 15px;
background-color: #1FA67A;
background-color: #FFF;
	background-repeat: repeat;
	font-family: "Open Sans",sans-serif,"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma;
	font-weight:300;
	/*background-image: url("../images/bgg.jpg");*/
}
h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	font-family: "Open Sans",sans-serif,"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma;
}
.container, .container-fluid {
/*box-shadow: 1px 1px 10px rgba(255,255,255,0.5);*/
}
.row {
	border:0px;
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"] {
 padding-top: 15px;
 padding-bottom: 15px;
 text-align: center;
}
div[role="main"] {
}
div[role="main"], nav, aside {
 min-height: 200px;
}

/* MEDIA */
@media (min-width: 568px) {
	.container {
		width: 549px;
	}
	.nav-tabs li {
		width: 61px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 930px;
	}
	.nav-tabs li {
		width:103.33px;
	}
}
@media (min-width: 1080px) {
	.container {
		width: 1000px;
	}
	.nav-tabs li {
		width:125px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
	.nav-tabs li {
		width:125px;
	}
}
@media (min-width: 1600px) {
	.container {
		width: 1000px;
	}
	.nav-tabs li {
		width:125px;
	}
}
/* ALTERADO */
.linhasuperior {
	background-color:#FFF;
}
.nav {
	color:#FFF;
}
.nav a {
	color:#FFF;
}
.nav-tabs {
	margin:-15px auto;
border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.nav-tabs ul {
	border:0px;
	margin:0px;
	padding:0px;
}
.nav-tabs li {
	border:0px;
	padding:0px;
	height: 40px;
	border-bottom:0px;
border-top: 5px solid rgba(0,0,0,0.2);
border-bottom: 0px solid rgba(0,0,0,0.1);
font-size:12px;
background-color: #38C;
font-weight: 300;
font-size: 16px;
display: block;
position: relative;
text-align: center;

	font-family: "Open Sans",sans-serif,"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma;
font-weight: 500;
border-color: #DDD;
text-shadow: 0px 1px 0px #F3F3F3;

background-color: #38C;
border-color: #FFA59E;
text-shadow: 0px 1px 0px #059;
    font-size: 14px;
    display: block;
    margin: 0px;
    border-right-width: 0px;
}

.nav-tabs li:hover {
	border:0px;
border-top: 5px solid #F1FFBA;
}

.nav-tabs li a {
	margin:0px;
	border:0px;
    border-radius: 0px;
	color: #FFF;
	padding-top:6px;
	height:100%;
	text-shadow: 1px -1px 20px #F1F9EE;

}
.nav-tabs li a:hover {
	border:0px;
background-color: #F67D7D;
}
.nav-tabs li a:active {
	border:0px;
background-color: #F67D7D;
}

.nav-tabs li .social {
	letter-spacing:1px;
	color:#fff;
	margin:0px;
}
.nav-tabs .active {
border-top: 5px solid #61DADA;
}
.nav-tabs .active .social {
	color:#777272;
}
/* FONTE */
.sans {
	font-family: "Open Sans",sans-serif,"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma;
}

.tab-content {
	border:0px;
	border-top:3px solid #CFFC78;
	margin:-29px -15px;
	min-height:450px;
	color:#333;
	padding:0px;
}
.box-content {

background-color: #FFF;
	border:0px;
border-bottom:1px solid #EEE;
	min-height:200px;
	margin:0px;
	padding:15px;
}
.blocos {
	background-color:#FFF;
	padding:0px;
}
.sliderfoundation {min-height:100px;border-bottom: 1px solid rgb(161, 243, 194);}
.sliderfoundation li { list-style: none; }
.jumbotron {



	background-color: #0072bb;
border-bottom: 0px solid #7AD4A7;
border-top: 1px solid #96E3AF;
padding:15px;
color: #FFF;
border-radius: 0px !important;
}
/* PORTFOLIO */
h3 {
	padding:0px;
	margin:15px;
}
footer {
	background-image: url("../images/bgf.png");
	padding-top:0px;
	margin-top:0px;
}


.copyright {
	height:100px;
border-top: 0px solid #38C;
border-bottom: 0px solid #DDD;
padding:15px;
color:#454545;

}
.subpage-image {
	margin-top:0px;
}
.boxtop-subpage {
	padding:35px 0px;
	border-bottom:0px solid #A1F3C2;
margin-bottom: 0px !important;
color: #5B5E60;
font-family: "Roboto",sans-serif;
line-height: 1.3em;
background-color: #FFF;
}
.boxtop-subpage h3 {
font-family: "Roboto",sans-serif;
line-height: 1.3em;
font-weight: normal;
text-align: left;
color: #3E3F3F;
font-weight: 300;
font-size: 18px;
}
.box-subpage {
	text-align:left;
color: #3E3F3F;
margin-bottom: 16px;
font-weight: 300;
letter-spacing: 1px;
text-shadow: 1px -1px 10px #FFFFFC;
margin-top:10px;
margin-left:20px;
}
.fl {float:left;}
.fr {float:right;}
.p-bloco {
    line-height: 18px;
    letter-spacing: 0px;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 12px;
}



.portfolio-p {
	text-align:left;
	margin:0px;
	padding:0px;
	font-family: "Open Sans",sans-serif,"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma;

    margin-left:0px;
    margin-right:0px;
	border:0px;
	padding:5px 5px;
	border-bottom:0px;
border-top: 5px solid #75B3E4;
border-bottom: 1px solid #E0EEF9;
font-size:14px;
    letter-spacing: 1px;
    color: #414040;
}
.crms-p {
	text-align:center;
	margin:0px;
	padding:0px;
	font-family: "Open Sans",sans-serif,"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma;
    margin-left:0px;
    margin-right:0px;
	border:0px;
	padding:15px 5px;
	border-bottom:0px;
border-top: 5px solid #75B3E4;
border-bottom: 1px solid #E0EEF9;
font-size:14px;
    letter-spacing: 1px;
    color: #414040;
}


.crms-thumbnail {
	margin:0 auto;
	width:200px;
	height:120px;
text-align:center;
float:center;
}
.equipe-p {
	text-align:left;
	margin:0px;
	padding:0px;
	font-family: "Open Sans",sans-serif,"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma;

    margin-left:0px;
    margin-right:0px;
	border:0px;
	padding:5px 5px;
	border-bottom:0px;
border-top: 5px solid #75B3E4;
border-bottom: 1px solid #E0EEF9;
font-size:18px;
    letter-spacing: 1px;
    color: #414040;
font-weight: 300;
padding:15px 0px;
}
.borda-verde {
	border-top: 4px solid #70E9A9;
}
.borda-azul {
	border-top: 4px solid #75B3E4;
}
.borda-vermelha {
	border-top: 4px solid #F98D7B;
}
.equipe-box {
	font-family: "Open Sans",sans-serif,"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma;
	margin:0 auto;
	margin:5px 0px 25px 0px;
	min-height:100px;
text-align:left;
}
.equipe-box p {
font-weight: 300;
padding:0px;
}
.crms-box {
	margin:0 auto;
	border:1px solid #D1D1D1;
	padding:15px;
	margin:5px 0px 25px 0px;
	background-image: url("../images/bgf.png");
	min-height:300px;

}


.crms-box:hover {
background-image:none;
background-color:#EEE;
}
.portfolio-thumbnail {
	margin:0 auto;
	width:200px;
	height:200px;
text-align:center;
float:center;
}
.portfolio-url {
	padding:5px;
	padding-top:15px;
    font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    font-size: 12px;
    color: #414040;
}
.portfolio-thumbnail:active {
border: 5px solid rgba(198, 209, 213, 0.99);
}
.portfolio-box {
	margin:0 auto;
	border:1px solid #D1D1D1;
	padding:15px;
	margin:5px 0px 25px 0px;
	background-image: url("../images/bgf.png");
}
